.main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.title {
    width: 100%;
    max-width: 1920px;

    h1 {
        font-size: 64px;
        background-color: blueviolet;
        text-align: center;
        border-radius: 4px;
        padding: 20px 0;
    }
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    margin-top: 2em;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    gap: 1rem;

    input {
        padding: 20px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin: 10px 0;
        width: 100%;
        font-size: 18px;
    }

    .error {
        color: red;
        font-size: 18px;
        margin-top: 10px;
    }

    button {
        padding: 20px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin: 10px 0;
        width: 50%;
        font-size: 18px;
        background-color: blueviolet;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #f0f0f0;
            color: blueviolet;
            border: 1px solid blueviolet;
        }

        &:active {
            background-color: blueviolet;
            color: white;
            border: 1px solid blueviolet;
        }
    }
}

.todos {
    width: 100%;
    max-width: 1000px;
    margin: 2em;
    padding: 1rem;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: black;
    min-height: 250px;

    .todo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: none;
        }

        p {
            flex-grow: 1;
            margin: 0;
            font-size: 18px;
            color: black;
            word-wrap: break-word;
            word-break: break-word;
        }

        .checkbox {
            margin-right: 1rem;
            width: 20px;
            height: 20px;
            cursor: pointer;
            accent-color: blueviolet;
        }

        .checkbox:checked {
            background-color: blueviolet;
            border-color: blueviolet;
        }


        .icons {
            display: flex;
            align-items: center;

            .icon {
                margin-left: 0.5rem;
                cursor: pointer;
                width: 24px;
                height: 24px;

                &:hover {
                    fill: blueviolet;
                }
            }
        }

        .completed {
            text-decoration: line-through;
            color: gray;
        }
    }

    .error p {
        color: red;
    }
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
    .main {
        padding: 0;

        .title h1 {
            font-size: 48px;
        }
    }

    .input-container {
        width: 100%;
        padding: 1rem;

        .button {
            width: 100%;
            font-size: 16px;
        }
    }

    .todos {
        width: 100%;
        max-width: 500px;
        padding: 0;
        margin: 0.5rem;
        /* Adjust padding for smaller screens */
    }

    .todo {
        flex-direction: row;
        /* Stack items vertically on mobile */
        align-items: flex-start;

        p {
            margin-bottom: 1rem;
            word-wrap: break-word;
            /* Ensure text wraps correctly */
            word-break: break-word;
            width: 100%;
            /* Ensure the text takes up full width */
        }

        .icons {
            justify-content: flex-end;
            width: 25%;
        }
    }
}